---

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
			@import "../styles/global.css";
	</style>
</head>
<body>
	<main>
		<header>
			<div>
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
			</div>
		</header>
		
		<article><h2>Article title</article>
		
	</main>
</body>
</html>
